<div class="container col-md-14 p-0 m-10">
    <div class="col col-md-1">
        <label>Project: </label>
    </div>
    <div class="col col-md-4">
        <input type="text" name="projectName" readonly class="form-control" [(ngModel)]="selectedProjName">
    </div>
    <div class="col col-md-1">
            <button type="button" class="btn border btn-basic" style="border-radius: 50%" (click)="openModal(projModal,1)" [disabled]="updateDisabled">Search</button>
    </div>
</div>
<hr style="border-style: dotted">
<br>
